<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Navigation Menu -->
    <nav>
      <!--네비게이션 코드-->
    </nav>
    <h1>원하는 내용들을 입력하세요</h1>
    <a href="/result">Get Result</a>
    <!-- Bottom Navbar -->
    <ul>
      <!--Bottom Navbar code-->
    </ul>

    <!-- 다른 html 코드가 들어가는 공간 -->>
  </body>
</html>
